<body>
    <div class="bg">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
         
        <h2>Water For Life</h2><div class="dropdown show " id="dropping">
          <a class="btn btn-primary  dropdown-toggle" href=".\profile" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user"></i>
          </a>
        
          <div class="dropdown-menu  dropdown-menu-right" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#"><b>profile name:{{name}}</b></a>
            <a class="dropdown-item" href="#"><b>email:{{mail}}</b></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"(click)="signOut()"><b>sign out</b></a>          </div>
        </div>
                
   
<app-questions></app-questions>
</div>
</body>